{% load static %}

      <nav>
        <ul class="nav-links" id="navLinks">
          <li><a href="{% url 'home' %}" class="nav-link active">Home</a></li>
          <li><a href="{% url 'listproducts' %}" class="nav-link">Products</a></li>
          {% if not user.is_authenticated %}
          <li><a href="{% url 'account' %}" class="nav-link">Account</a></li>
          {% else %}
          <li><a href="{% url 'logout' %}" class="nav-link">Logout</a></li>
          {% endif %}
        </ul>
      </nav>